<html>
<head>
    <title>Web.py</title>
    <style>
        #menu {
            left:600px;
            top:200px;
            position:fixed;
            /* width: 200px; */
            /* float: center; */
        }
        body
        {
        background-image: url(https://gitee.com/wujiahong1998/MyBed/raw/master/img/bb.jpg);
        background-repeat:repeat-x;
        background-size: cover;
        }
    </style>
</head>
<body>

<ul id="menu">
    <li><a href="/blog/">博客</a></li>
    <li><a href="/todo/">ToDo</a></li>
    <li><a href="/test/">测试</a></li>
</ul>

</body>
</html>
